<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="baseDir">${env:HOME}/.cache</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="TIME_FORMAT_PATTERN">HH:mm:ss.SSS</Property>
        <Property name="DATETIME_FORMAT_PATTERN">yyyy-MM-dd ${TIME_FORMAT_PATTERN}</Property>
        <Property name="LOG_STYLE">{FATAL=Bright red, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}
        </Property>
        <Property name="CONSOLE_LOG_PATTERN">%highlight{%d{${TIME_FORMAT_PATTERN}} %-5p [%t] %c - %m%n}
        </Property>
        <Property name="FILE_LOG_PATTERN">%d{${DATETIME_FORMAT_PATTERN}} %p [%t %T] [%c][%C] [%t] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}${LOG_STYLE}"/>
        </Console>
        <!--        <File name="File" fileName="${env:HOME}/app.log" immediateFlush="false" append="false">-->
        <!--            <PatternLayout>-->
        <!--                <Pattern>${FILE_LOG_PATTERN}</Pattern>-->
        <!--            </PatternLayout>-->
        <!--        </File>-->
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${baseDir}/app.log" immediateFlush="false"
                                 filePattern="${baseDir}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/app-*.log.gz">
                        <IfLastModified age="30d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="1 GB"/>
                                <IfAccumulatedFileCount exceeds="10"/>
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <Async name="AsyncFile">
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Async>
        <NoSql name="MongoAppender">
            <ThresholdFilter level="INFO"/>
            <MongoDb3 databaseName="logdb" collectionName="appLog" server="192.168.4.130"/>
        </NoSql>
<!--        <Cassandra name="Cassandra" clusterName="Test Cluster" keyspace="test" table="logs" bufferSize="10"-->
<!--                   batched="true">-->
<!--            <SocketAddress host="192.168.4.130" port="9042"/>-->
<!--            <ColumnMapping name="id" pattern="%uuid{TIME}" type="java.util.UUID"/>-->
<!--            <ColumnMapping name="timeid" literal="now()"/>-->
<!--            <ColumnMapping name="message" pattern="%message"/>-->
<!--            <ColumnMapping name="level" pattern="%level"/>-->
<!--            <ColumnMapping name="marker" pattern="%marker"/>-->
<!--            <ColumnMapping name="logger" pattern="%logger"/>-->
<!--            <ColumnMapping name="timestamp" type="java.util.Date"/>-->
<!--            <ColumnMapping name="mdc" type="org.apache.logging.log4j.spi.ThreadContextMap"/>-->
<!--            <ColumnMapping name="ndc" type="org.apache.logging.log4j.spi.ThreadContextStack"/>-->
<!--        </Cassandra>-->
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFile"/>
            <AppenderRef ref="MongoAppender"/>
        </Root>
    </Loggers>
</Configuration>